.custom-shape-divider-top-1682742615 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1682742615 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 160px;
}

.custom-shape-divider-top-1682742615 .shape-fill {
    fill: #FFFFFF;
}

.bg-menu{
    background: linear-gradient(0deg, rgba(164, 40, 221, 1) 0%, rgba(124, 16, 231, 1) 100%);
}